.hintLayer {
    border: 1px solid gray;
    color: gray;
    background-color: white;
    font-size: 80%;
    max-height: 300pt;
    overflow-y: auto;
    -ms-overflow-y: auto;
    z-index: 1000;
}
.hintEmptyText {
    padding: 3px;
}
.hintPrompt {
    padding: 3px;
    color: gray;
    font-style: italic;
}
.hintItem {
    color: black;
    padding: 1px 3px;
    vertical-align: middle;
    white-space: nowrap;
}
.hintDisabledItem {
    color: gray;
    padding: 1px 3px;
    white-space: nowrap;
}
.hintActiveItem {
    color: white;
    background-color: #008;
    padding: 1px 3px;
    white-space: nowrap;
}
.hintItem, .hintActiveItem, .hintItem label, .hintActiveItem label {
    cursor: pointer;
}
.hintItem input, .hintActiveItem input, .hintDisabledItem input {
    cursor: pointer;
    vertical-align: middle;
    margin-right: 3px;
}
.hintItem img, .hintActiveItem img {
    vertical-align: middle;
}
